@-webkit-keyframes scaleIn {
  0% {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  60% {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes scaleIn {
  0% {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  60% {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-ms-keyframes scaleIn {
  0% {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  60% {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scaleIn {
  0% {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  60% {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes suchAsTor {
  0% {
    -moz-transform: translate(0, -500px);
    -o-transform: translate(0, -500px);
    -ms-transform: translate(0, -500px);
    -webkit-transform: translate(0, -500px);
    transform: translate(0, -500px);
    opacity: 0; }
  100% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@-moz-keyframes suchAsTor {
  0% {
    -moz-transform: translate(0, -500px);
    -o-transform: translate(0, -500px);
    -ms-transform: translate(0, -500px);
    -webkit-transform: translate(0, -500px);
    transform: translate(0, -500px);
    opacity: 0; }
  100% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@-ms-keyframes suchAsTor {
  0% {
    -moz-transform: translate(0, -500px);
    -o-transform: translate(0, -500px);
    -ms-transform: translate(0, -500px);
    -webkit-transform: translate(0, -500px);
    transform: translate(0, -500px);
    opacity: 0; }
  100% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes suchAsTor {
  0% {
    -moz-transform: translate(0, -500px);
    -o-transform: translate(0, -500px);
    -ms-transform: translate(0, -500px);
    -webkit-transform: translate(0, -500px);
    transform: translate(0, -500px);
    opacity: 0; }
  100% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes smartBorderIn {
  0% {
    width: 0;
    height: 0; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 50%;
    height: 100%; } }

@-moz-keyframes smartBorderIn {
  0% {
    width: 0;
    height: 0; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 50%;
    height: 100%; } }

@-ms-keyframes smartBorderIn {
  0% {
    width: 0;
    height: 0; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 50%;
    height: 100%; } }

@keyframes smartBorderIn {
  0% {
    width: 0;
    height: 0; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 50%;
    height: 100%; } }

@-webkit-keyframes smartBorderOut {
  0% {
    width: 50%;
    height: 100%; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 0;
    height: 0; } }

@-moz-keyframes smartBorderOut {
  0% {
    width: 50%;
    height: 100%; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 0;
    height: 0; } }

@-ms-keyframes smartBorderOut {
  0% {
    width: 50%;
    height: 100%; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 0;
    height: 0; } }

@keyframes smartBorderOut {
  0% {
    width: 50%;
    height: 100%; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 0;
    height: 0; } }
