.home-page {
  height: 100%;
  width: 200%;
  transition: all 0.4s; }

.home-section {
  float: left;
  width: 50%;
  height: 100%; }

.home-page-intro {
  display: table;
  position: relative;
  background-color: #f16c49; }
  .home-page-intro h1 {
    color: white;
    font-family: ArchivoBlack;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-name: scaleIn;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: 0.6s;
    -moz-animation-name: scaleIn;
    -moz-animation-fill-mode: forwards;
    -o-animation-delay: 0;
    -o-animation-duration: 0.6s;
    -o-animation-name: scaleIn;
    -o-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: 0.6s;
    animation-name: scaleIn;
    animation-fill-mode: forwards; }
    .home-page-intro h1 small {
      display: block;
      margin-top: 15px;
      font-family: Open-Sans-Light;
      font-size: 50px;
      text-align: center;
      -moz-transform: scale(0);
      -o-transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-animation-delay: 0.6s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-name: scaleIn;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-delay: 0.6s;
      -moz-animation-duration: 0.6s;
      -moz-animation-name: scaleIn;
      -moz-animation-fill-mode: forwards;
      -o-animation-delay: 0.6s;
      -o-animation-duration: 0.6s;
      -o-animation-name: scaleIn;
      -o-animation-fill-mode: forwards;
      animation-delay: 0.6s;
      animation-duration: 0.6s;
      animation-name: scaleIn;
      animation-fill-mode: forwards; }
  .home-page-intro .cook-hat {
    opacity: 0;
    -webkit-animation-delay: 1.2s;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-name: suchAsTor;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 1.2s;
    -moz-animation-duration: 0.6s;
    -moz-animation-name: suchAsTor;
    -moz-animation-fill-mode: forwards;
    -o-animation-delay: 1.2s;
    -o-animation-duration: 0.6s;
    -o-animation-name: suchAsTor;
    -o-animation-fill-mode: forwards;
    animation-delay: 1.2s;
    animation-duration: 0.6s;
    animation-name: suchAsTor;
    animation-fill-mode: forwards; }
    .home-page-intro .cook-hat img {
      width: 250px; }
  .home-page-intro .home-menu {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 50px;
    text-align: center;
    font-family: Open-Sans-Light;
    opacity: 0;
    -webkit-animation-delay: 1.8s;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: fadeIn;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 1.8s;
    -moz-animation-duration: 0.4s;
    -moz-animation-name: fadeIn;
    -moz-animation-fill-mode: forwards;
    -o-animation-delay: 1.8s;
    -o-animation-duration: 0.4s;
    -o-animation-name: fadeIn;
    -o-animation-fill-mode: forwards;
    animation-delay: 1.8s;
    animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-fill-mode: forwards; }
    .home-page-intro .home-menu li {
      display: inline-block;
      margin: 0 10px;
      color: white;
      font-size: 16px;
      font-weight: 100;
      letter-spacing: 1px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
      .home-page-intro .home-menu li.active {
        padding: 10px 20px;
        background: #D15D3F;
        border-radius: 10px;
        border: 1px solid #B74425; }
    .home-page-intro .home-menu .login-button {
      display: inline-block;
      margin-left: 100px;
      padding: 15px 30px;
      color: white;
      font-family: Open-Sans-Bold;
      font-size: 20px;
      font-weight: 100;
      letter-spacing: 1px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
      background: #49f1c0;
      border-radius: 10px;
      cursor: pointer; }
