.home-page {
  height: 100%; }

.home-page-intro {
  display: table;
  height: 100%;
  width: 100%;
  background-color: #f16c49; }
  .home-page-intro h1 {
    color: white;
    font-family: ArchivoBlack;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    letter-spacing: 3px;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    -o-animation-direction: normal;
    animation-direction: normal; }
    .home-page-intro h1 small {
      display: block;
      margin-top: 15px;
      font-family: Open-Sans_Concedered;
      font-size: 50px;
      text-align: center; }
