@font-face {
  font-family: ArchivoBlack;
  src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf); }

@font-face {
  font-family: Open-Sans-Light;
  src: url(../fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf); }

@font-face {
  font-family: Open-Sans-Bold;
  src: url(../fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf); }

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/fontawesome-webfont.ttf); }

@font-face {
  font-family: OpenSans;
  src: url(../fonts/Open_Sans/opensans-regular-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: OpenSans;
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: OpenSans;
  src: url(../fonts/Open_Sans/OpenSans-Italic.ttf);
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: OpenSans;
  src: url(../fonts/Open_Sans/OpenSans-LightItalic.ttf);
  font-weight: 100;
  font-style: italic; }

body {
  font-family: OpenSans; }
  body.popup-opened {
    overflow: hidden; }

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.hidden {
  display: none; }

.sign-wrapper {
  display: table;
  width: 100%; }

.sign-view {
  display: block;
  padding: 10px;
  box-sizing: border-box; }
  .sign-view h3 {
    padding: 10px 0px;
    margin-bottom: 10px;
    color: white;
    background: #3f3f3f; }
  .sign-view .submit-btn {
    padding: 10px 20px;
    margin-bottom: 10px;
    color: white;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #6c49f1;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: all 0.4s; }
    .sign-view .submit-btn:hover {
      background: #5931ef; }
  .sign-view .switch-form {
    margin: 5px 0px;
    color: #6c49f1;
    font-size: 14px;
    cursor: pointer; }

.sign-view-field {
  margin-bottom: 20px;
  overflow: hidden; }
  .sign-view-field input {
    padding: 5px 0px;
    margin: 0;
    width: 80%;
    color: #6C49F1;
    font-family: OpenSans;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgba(165, 144, 246, 0.3);
    outline: none; }
    .sign-view-field input::-webkit-input-placeholder {
      font-style: italic; }
    .sign-view-field input:-moz-placeholder {
      font-style: italic; }
    .sign-view-field input::-moz-placeholder {
      font-style: italic; }
    .sign-view-field input:-ms-input-placeholder {
      font-style: italic; }
  .sign-view-field i {
    display: inline-block;
    padding-right: 10px;
    width: 20px;
    height: 28px;
    font-size: 20px;
    color: #6C49F1;
    border-bottom: 1px solid rgba(165, 144, 246, 0.3); }

.login-form {
  min-width: 300px; }

.register-form {
  min-width: 400px; }

.main-nav {
  text-align: center;
  font-family: Open-Sans-Light;
  opacity: 0;
  -webkit-animation-delay: 1.8s;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: fadeIn;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 1.8s;
  animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-fill-mode: forwards; }
  .main-nav li {
    display: inline-block;
    margin: 0 10px;
    color: white;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
    .main-nav li.active {
      padding: 10px 20px;
      background: #D15D3F;
      border-radius: 10px;
      border: 1px solid #B74425; }
  .main-nav .login-button {
    display: inline-block;
    margin-left: 100px;
    padding: 15px 30px;
    color: white;
    font-family: Open-Sans-Bold;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    background: #49f1c0;
    border-radius: 10px;
    cursor: pointer; }

.smart-border-button {
  position: relative;
  padding: 11px 20px 8px;
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  border-bottom: 3px solid white;
  outline: none;
  cursor: pointer; }
  .smart-border-button:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: smartBorderOut;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-name: smartBorderOut;
    animation-fill-mode: forwards; }
  .smart-border-button:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -3px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: smartBorderOut;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-name: smartBorderOut;
    animation-fill-mode: forwards; }
  .smart-border-button:hover:after,
  .smart-border-button:hover:before {
    display: block;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: smartBorderIn;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-name: smartBorderIn;
    animation-fill-mode: forwards; }

.file-upload {
  position: relative;
  color: white;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  background-color: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 5px;
  transition: all 0.5s; }
  .file-upload:hover {
    background-color: #c9302c;
    border-color: #ac2925; }
  .file-upload input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    cursor: pointer; }

.input-prompt {
  position: relative; }

.prompts-list {
  margin-top: 1px;
  width: 100%;
  bottom: -2px;
  z-index: 2;
  overflow: auto;
  background-color: white;
  font-weight: 100;
  border-radius: 5px; }
  .prompts-list li {
    padding: 10px;
    text-transform: capitalize; }
    .prompts-list li:focus {
      background-color: tomato;
      outline: none; }

.photo-cutter {
  position: relative;
  font-size: 0; }
  .photo-cutter-image {
    width: 100%; }
  .photo-cutter-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); }
  .photo-cutter-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    font-size: 0;
    cursor: move; }
    .photo-cutter-area::selection,
    .photo-cutter-area::-moz-selection {
      background-color: transparent; }
    .photo-cutter-area img::selection,
    .photo-cutter-area img::-moz-selection {
      background-color: transparent; }
  .photo-cutter-size {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background-color: black;
    cursor: nwse-resize;
    transition: 0.4s ease-in-out; }
    .photo-cutter-size.active {
      transform: scale(5);
      border-radius: 50%; }

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes suchAsTor {
  0% {
    -webkit-transform: translate(0, -500px);
    transform: translate(0, -500px);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes suchAsTor {
  0% {
    -webkit-transform: translate(0, -500px);
    transform: translate(0, -500px);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes smartBorderIn {
  0% {
    width: 0;
    height: 0; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 50%;
    height: 100%; } }

@keyframes smartBorderIn {
  0% {
    width: 0;
    height: 0; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 50%;
    height: 100%; } }

@-webkit-keyframes smartBorderOut {
  0% {
    width: 50%;
    height: 100%; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 0;
    height: 0; } }

@keyframes smartBorderOut {
  0% {
    width: 50%;
    height: 100%; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 0;
    height: 0; } }

@keyframes cra-1 {
  50% {
    transform: translate(-200%, 0); }
  100% {
    transform: translate(-200%, 0); } }

@keyframes cra-2 {
  50% {
    transform: translate(-200%, -200%); }
  100% {
    transform: translate(-200%, -200%); } }

@keyframes cra-3 {
  50% {
    transform: translate(0, -200%); }
  100% {
    transform: translate(0, -200%); } }

@keyframes cra-4 {
  50% {
    transform: translate(-200%, 200%); }
  100% {
    transform: translate(-200%, 200%); } }

@keyframes cra-6 {
  50% {
    transform: translate(200%, -200%); }
  100% {
    transform: translate(200%, -200%); } }

@keyframes cra-7 {
  50% {
    transform: translate(0, 200%); }
  100% {
    transform: translate(0, 200%); } }

@keyframes cra-8 {
  50% {
    transform: translate(200%, 200%); }
  100% {
    transform: translate(200%, 200%); } }

@keyframes cra-9 {
  50% {
    transform: translate(200%, 0); }
  100% {
    transform: translate(200%, 0); } }

.crazy-rhombus {
  width: 100px;
  height: 100px;
  transform: rotate(45deg); }
  .crazy-rhombus li {
    position: absolute;
    left: 40%;
    top: 40%;
    width: 20%;
    height: 20%;
    background-color: white;
    border-radius: 50%; }
    .crazy-rhombus li:nth-child(1) {
      transform: translate(-200%, -200%);
      animation: cra-1 1s ease-in-out infinite; }
    .crazy-rhombus li:nth-child(2) {
      transform: translate(0, -200%);
      animation: cra-2 1s ease-in-out infinite; }
    .crazy-rhombus li:nth-child(3) {
      transform: translate(200%, -200%);
      animation: cra-3 1s ease-in-out infinite; }
    .crazy-rhombus li:nth-child(4) {
      transform: translate(-200%, 0);
      animation: cra-4 1s ease-in-out infinite; }
    .crazy-rhombus li:nth-child(5) {
      transform: translate(0, 0);
      animation: cra-5 1s ease-in-out infinite; }
    .crazy-rhombus li:nth-child(6) {
      transform: translate(200%, 0);
      animation: cra-6 1s ease-in-out infinite; }
    .crazy-rhombus li:nth-child(7) {
      transform: translate(-200%, 200%);
      animation: cra-7 1s ease-in-out infinite; }
    .crazy-rhombus li:nth-child(8) {
      transform: translate(0, 200%);
      animation: cra-8 1s ease-in-out infinite; }
    .crazy-rhombus li:nth-child(9) {
      transform: translate(200%, 200%);
      animation: cra-9 1s ease-in-out infinite; }

@keyframes heartBit {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.6); }
  100% {
    transform: scale(1); } }

.fade-squares li {
  display: inline-block;
  margin: 0 15px;
  width: 40px;
  height: 40px;
  background-color: white;
  animation: heartBit 1.5s ease-in-out infinite; }
  .fade-squares li:nth-child(1) {
    animation-delay: 0s; }
  .fade-squares li:nth-child(2) {
    animation-delay: 0.25s; }
  .fade-squares li:nth-child(3) {
    animation-delay: 0.5s; }
  .fade-squares li:nth-child(4) {
    animation-delay: 0.75s; }
  .fade-squares li:nth-child(5) {
    animation-delay: 1s; }

.popup-container {
  width: 0;
  height: 0; }

.popup-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center; }
  .popup-wrapper:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle; }

.popup {
  display: inline-block;
  width: 500px;
  height: 500px;
  z-index: 1;
  vertical-align: middle;
  border-radius: 50%;
  color: white;
  text-align: center;
  background-color: #0ea2e2;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  transform: scale(0);
  animation: scaleIn 0.5s forwards; }
  .popup:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle; }
  .popup-data {
    display: inline-block;
    vertical-align: middle; }
  .popup-title {
    margin-bottom: 15px;
    font-size: 25px;
    text-decoration: underline; }
  .popup-content {
    margin: 0 auto 15px;
    width: 80%;
    text-align: center;
    line-height: 1.4; }
  .popup-buttons button,
  .popup-buttons a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a2e20e;
    border: none;
    color: #FFF;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer; }
  .popup-button-close {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 40px;
    line-height: 38px;
    color: inherit;
    font-size: 25px;
    background-color: inherit;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
    outline: none;
    cursor: pointer;
    transition: all 0.4s; }
    .popup-button-close:hover {
      transform: scale(1.3); }

.photo-cutter-popup.popup {
  width: auto;
  height: auto;
  border-radius: 5px;
  background-color: white; }
  .photo-cutter-popup.popup .popup-title {
    padding: 10px;
    margin-bottom: 0;
    color: white;
    text-decoration: none;
    background-color: #0ea2e2; }
  .photo-cutter-popup.popup .popup-button-close {
    display: none; }
  .photo-cutter-popup.popup .popup-buttons button,
  .photo-cutter-popup.popup .popup-buttons a {
    width: 100%;
    border-radius: 0;
    outline: none; }

.loader.popup {
  width: auto;
  height: auto;
  background-color: transparent;
  box-shadow: none;
  transform: scale(1);
  animation: none; }
  .loader.popup .popup-title,
  .loader.popup .popup-button-close,
  .loader.popup .popup-buttons {
    display: none; }

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes suchAsTor {
  0% {
    -webkit-transform: translate(0, -500px);
    transform: translate(0, -500px);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes suchAsTor {
  0% {
    -webkit-transform: translate(0, -500px);
    transform: translate(0, -500px);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes smartBorderIn {
  0% {
    width: 0;
    height: 0; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 50%;
    height: 100%; } }

@keyframes smartBorderIn {
  0% {
    width: 0;
    height: 0; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 50%;
    height: 100%; } }

@-webkit-keyframes smartBorderOut {
  0% {
    width: 50%;
    height: 100%; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 0;
    height: 0; } }

@keyframes smartBorderOut {
  0% {
    width: 50%;
    height: 100%; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 0;
    height: 0; } }

.home-page {
  height: 100%;
  width: 100%;
  transition: all 0.4s; }

.home-section {
  float: left;
  width: 100%;
  height: 100%; }

.home-page-intro {
  display: table;
  position: relative;
  background-color: #f16c49; }
  .home-page-intro h1 {
    color: white;
    font-family: ArchivoBlack;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-name: scaleIn;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: 0.6s;
    animation-name: scaleIn;
    animation-fill-mode: forwards; }
    .home-page-intro h1 small {
      display: block;
      margin-top: 15px;
      font-family: Open-Sans-Light;
      font-size: 50px;
      text-align: center;
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-animation-delay: 0.6s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-name: scaleIn;
      -webkit-animation-fill-mode: forwards;
      animation-delay: 0.6s;
      animation-duration: 0.6s;
      animation-name: scaleIn;
      animation-fill-mode: forwards; }
  .home-page-intro .cook-hat {
    opacity: 0;
    -webkit-animation-delay: 1.2s;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-name: suchAsTor;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 1.2s;
    animation-duration: 0.6s;
    animation-name: suchAsTor;
    animation-fill-mode: forwards; }
    .home-page-intro .cook-hat img {
      width: 250px; }
  .home-page-intro .main-nav {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 50px;
    text-align: center;
    font-family: Open-Sans-Light;
    opacity: 0;
    -webkit-animation-delay: 1.8s;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: fadeIn;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 1.8s;
    animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-fill-mode: forwards; }
    .home-page-intro .main-nav li {
      display: inline-block;
      margin: 0 10px;
      color: white;
      font-size: 16px;
      font-weight: 100;
      letter-spacing: 1px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
      .home-page-intro .main-nav li.active {
        padding: 10px 20px;
        background: #D15D3F;
        border-radius: 10px;
        border: 1px solid #B74425; }
    .home-page-intro .main-nav .login-button {
      display: inline-block;
      margin-left: 100px;
      padding: 15px 30px;
      color: white;
      font-family: Open-Sans-Bold;
      font-size: 20px;
      font-weight: 100;
      letter-spacing: 1px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
      background: #49f1c0;
      border-radius: 10px;
      cursor: pointer; }

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes suchAsTor {
  0% {
    -webkit-transform: translate(0, -500px);
    transform: translate(0, -500px);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes suchAsTor {
  0% {
    -webkit-transform: translate(0, -500px);
    transform: translate(0, -500px);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes smartBorderIn {
  0% {
    width: 0;
    height: 0; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 50%;
    height: 100%; } }

@keyframes smartBorderIn {
  0% {
    width: 0;
    height: 0; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 50%;
    height: 100%; } }

@-webkit-keyframes smartBorderOut {
  0% {
    width: 50%;
    height: 100%; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 0;
    height: 0; } }

@keyframes smartBorderOut {
  0% {
    width: 50%;
    height: 100%; }
  50% {
    width: 0;
    height: 100%; }
  100% {
    width: 0;
    height: 0; } }

.dishes-categories-list {
  padding: 20px;
  overflow: hidden;
  background-color: #313131;
  white-space: nowrap;
  font-size: 0; }
  .dishes-categories-list li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    width: 350px;
    height: 200px; }
    .dishes-categories-list li img {
      width: 100%;
      height: 100%; }
    .dishes-categories-list li:last-child {
      margin-right: 0; }
    .dishes-categories-list li .hover-text {
      display: table;
      position: absolute;
      width: 60%;
      height: 100%;
      top: 0;
      left: 40%;
      background-color: rgba(0, 0, 0, 0.4);
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      .dishes-categories-list li .hover-text:hover {
        left: 0;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5); }
      .dishes-categories-list li .hover-text a {
        color: white;
        font-size: 22px;
        text-transform: uppercase;
        white-space: normal; }

.dishes-catalog-area {
  position: relative;
  margin: 0 auto;
  max-width: 1200px; }

.dishes-add-props {
  float: left;
  width: 300px;
  padding-top: 10px; }

.dishes-add-list {
  margin-bottom: 15px; }
  .dishes-add-list h4 {
    padding: 15px;
    background-color: #313131;
    color: white;
    font-size: 20px;
    text-transform: uppercase; }
  .dishes-add-list li {
    padding: 15px;
    border-bottom: 1px solid #d0d0d0;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
    .dishes-add-list li:last-child {
      border-bottom: none; }
    .dishes-add-list li:hover,
    .dishes-add-list li.active {
      background-color: #d0d0d0; }
    .dishes-add-list li i {
      margin-right: 10px;
      width: 20px;
      line-height: 20px;
      background-color: #4caf50;
      color: white;
      text-align: center;
      border-radius: 50%; }

.dishes-list-wrapper {
  margin-left: 300px; }

.dishes-list {
  font-size: 0;
  text-align: center; }
  .dishes-list .level-label {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(76, 175, 80, 0.7);
    color: white;
    font-size: 20px; }
  .dishes-list-item {
    position: relative;
    display: inline-block;
    margin: 1%;
    width: 48%;
    padding-top: 48%; }
    .dishes-list-item img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .dishes-list-li {
    padding: 15px;
    overflow: hidden;
    text-align: left;
    border-bottom: 1px solid #d0d0d0; }
    .dishes-list-li img {
      float: left;
      width: 40%; }
  .dishes-list-linfo {
    margin-left: 42%;
    color: #3b3b3b;
    font-size: 16px;
    text-align: center;
    line-height: 1.3; }
    .dishes-list-linfo h6 {
      margin-bottom: 25px;
      font-size: 20px;
      text-transform: uppercase; }
    .dishes-list-linfo .description {
      margin-bottom: 25px;
      height: 100px;
      text-align: justify; }
    .dishes-list-linfo .goto {
      display: inline-block;
      padding: 10px 30px;
      color: white;
      border: 2px solid #4caf50;
      background-color: #4caf50;
      font-size: 18px;
      transition: all 0.4s; }
      .dishes-list-linfo .goto:hover {
        color: #3b3b3b;
        background-color: white;
        border-color: #3b3b3b; }
    .dishes-list-linfo .labels {
      margin-bottom: 25px; }
      .dishes-list-linfo .labels a {
        display: inline-block;
        margin: 0 3px;
        padding: 3px 4px;
        font-size: 12px;
        border: 1px solid #3b3b3b; }
    .dishes-list-linfo .stars {
      margin-bottom: 25px; }
      .dishes-list-linfo .stars i {
        margin: 0 3px; }

.dl-image-hover {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  top: 80%;
  z-index: 1;
  color: #3b3b3b;
  font-size: 24px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .dl-image-hover:hover {
    top: 5px; }
    .dl-image-hover:hover .smart-border-button {
      display: inline-block; }
    .dl-image-hover:hover .dish-icon-name {
      margin-bottom: 15px; }
  .dl-image-hover:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle; }
  .dl-image-hover .inline-block {
    display: inline-block;
    vertical-align: middle; }
  .dl-image-hover .dish-icon-name {
    display: block; }
  .dl-image-hover .smart-border-button {
    display: none;
    opacity: 0;
    color: #3b3b3b;
    border-color: #3b3b3b;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fadeIn;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-name: fadeIn;
    animation-fill-mode: forwards; }
    .dl-image-hover .smart-border-button:before,
    .dl-image-hover .smart-border-button:after {
      border-color: #3b3b3b; }

.dishes-view-options {
  padding: 15px;
  overflow: hidden;
  color: #3b3b3b; }

.dishes-grid-options {
  float: right; }
  .dishes-grid-options h6 {
    display: inline-block;
    font-size: 18px; }
  .dishes-grid-options .item {
    margin-left: 10px;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer; }
    .dishes-grid-options .item i {
      margin-right: 4px; }
    .dishes-grid-options .item.active {
      color: #4caf50; }

.dishes-sorting-options h6 {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px; }

.dishes-catalog-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #d0d0d0;
  width: 200px;
  overflow: hidden; }
  .dishes-catalog-select select {
    padding: 5px 8px;
    width: 130%;
    color: #555555;
    font-size: 14px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none; }
  .dishes-catalog-select:after {
    content: '';
    position: absolute;
    width: 20px;
    top: 3px;
    bottom: 3px;
    right: 3px;
    border: 1px solid #d0d0d0;
    z-index: -2; }
  .dishes-catalog-select:before {
    content: '';
    position: absolute;
    top: 10px;
    right: 7px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #d0d0d0;
    z-index: -2; }

.my-dishes {
  display: block;
  padding: 15px;
  margin: 15px 0;
  background-color: #504caf;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .my-dishes:hover {
    background-color: #403d8b; }

.create-dish-link {
  display: block;
  padding: 12px;
  color: #3b3b3b;
  font-size: 20px;
  text-transform: uppercase;
  border: 3px solid #3b3b3b;
  -webkit-transition: all 1s;
  transition: all 1s; }
  .create-dish-link:hover {
    color: white;
    background-color: #4caf50;
    border-color: #4caf50; }

.dishes-catalog-nav {
  padding: 20px;
  overflow: hidden;
  color: white;
  background-image: url(../img/catalog-bg.jpg);
  background-size: cover;
  text-align: right; }
  .dishes-catalog-nav li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .dishes-catalog-nav .logout {
    margin-right: 0px; }
  .dishes-catalog-nav .logo {
    float: left;
    margin-top: 0;
    font-family: ArchivoBlack;
    font-size: 30px;
    font-style: normal;
    text-transform: none; }
    .dishes-catalog-nav .logo img {
      margin-right: 15px;
      width: 80px; }
    .dishes-catalog-nav .logo * {
      display: inline-block;
      vertical-align: middle; }

.create-dish-container {
  min-height: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  background-image: url(../img/retro-kitchen.jpg);
  background-size: 100%;
  background-attachment: fixed; }

.create-dish-form {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.create-dish-field {
  margin-bottom: 10px; }
  .create-dish-field.left-column {
    float: left;
    width: 70%; }
  .create-dish-field.right-column {
    float: right;
    width: 27%; }

.create-dish-label {
  display: block;
  margin-bottom: 5px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); }

.create-dish-text {
  padding: 10px;
  width: 100%;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none; }
  .create-dish-text:focus {
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6); }

.create-dish-textarea {
  height: 150px;
  resize: none;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none; }
  .create-dish-textarea:focus {
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6); }

.create-dish-general {
  overflow: hidden;
  margin-bottom: 40px; }

.create-dish-ingredients {
  margin-left: 100px;
  margin-bottom: 40px; }
  .create-dish-ingredients > li {
    position: relative;
    overflow: hidden; }
    .create-dish-ingredients > li:hover .create-dish-remove-item {
      transform: scale(1); }

.create-dish-steps {
  margin-right: 100px;
  margin-bottom: 40px; }
  .create-dish-steps li {
    position: relative;
    overflow: hidden; }
    .create-dish-steps li:hover .create-dish-remove-item {
      transform: scale(1); }

.create-dish-form h3 {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: white;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  overflow: hidden; }
  .create-dish-form h3:hover button,
  .create-dish-form h3:focus button {
    transform: translate(0, 0); }
  .create-dish-form h3 button {
    position: absolute;
    right: 0;
    padding: 5px 10px;
    color: white;
    font-size: 16px;
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
    border-radius: 5px;
    transition: all 0.5s;
    transform: translate(100%, 0);
    cursor: pointer;
    outline: none; }
    .create-dish-form h3 button:hover {
      background-color: #449d44;
      border-color: #398439; }

.create-dish-form h4 {
  margin-bottom: 5px;
  color: #FFF;
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  text-align: center; }

.create-dish-remove-item {
  position: absolute;
  right: 0;
  top: 0;
  color: #d43f3a;
  font-size: 20px;
  transform: scale(0);
  transition: transform 0.4s; }

.create-dish-button {
  display: block;
  margin: 0 auto;
  width: 40%;
  color: #FFF;
  font-size: 20px;
  line-height: 42px;
  letter-spacing: 2px;
  text-align: center;
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s; }
  .create-dish-button:hover {
    width: 60%;
    background-color: #286090;
    border-color: #204d74; }

.create-dish-select {
  position: relative;
  overflow: hidden;
  border-radius: 5px; }
  .create-dish-select:after {
    content: '';
    position: absolute;
    top: 18px;
    right: 10px;
    border: 7px solid transparent;
    border-top-color: black; }
  .create-dish-select select {
    width: 100%;
    padding: 10px;
    border: none;
    background: #FFF;
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none; }

html,
body,
.application-root {
  height: 100%; }
