@import "mixins";

@include keyframes(scaleIn) {
  0% {
    @include scale(0);
  }
  50% {
    @include scale(1.1);
  }
  60% {
    @include scale(0.9);
  }
  100% {
    @include scale(1);
  }
}

@include keyframes(suchAsTor) {
  0% {
    @include translate(0, -500px);
    opacity: 0;
  }
  100% {
    @include translate(0, 0);
    opacity: 1;
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(smartBorderIn) {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 0;
    height: 100%;
  }
  100% {
    width: 50%;
    height: 100%;
  }
}
@include keyframes(smartBorderOut) {
  0% {
    width: 50%;
    height: 100%;
  }
  50% {
    width: 0;
    height: 100%;
  }
  100% {
    width: 0;
    height: 0;
  }
}