@import "mixins";

@font-face {
  font-family: Anton;
  src: url(../fonts/Anton/Anton.ttf);
}

@font-face {
  font-family: ArchivoBlack;
  src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
}

@font-face {
  font-family: Open-Sans-Light;
  src: url(../fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf);
}

@font-face {
  font-family: Open-Sans-Bold;
  src: url(../fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf)
}
@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf)
}

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/fontawesome-webfont.ttf)
}

body {
  overflow: hidden;
  font-family: OpenSans;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.hidden {
  display: none;
}

.popup-container {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 2;

  &.active {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.popup {
  position: absolute;
  z-index: 1;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);
}

.sign-wrapper {
  display: table;
  width: 100%;
}

.sign-view {
  display: block;
  padding: 10px;
  box-sizing: border-box;

  h3 {
    padding: 10px 0px;
    margin-bottom: 10px;
    color: white;
    background: #3f3f3f;
  }

  .submit-btn {
    padding: 10px 20px;
    margin-bottom: 10px;
    color: white;
    font-family: OpenSansBold;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #6c49f1;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      background: #5931ef;
    }
  }

  .switch-form {
    margin: 5px 0px;
    color: #6c49f1;
    font-size: 14px;
    cursor: pointer;
  }
}

.sign-view-field {
  margin-bottom: 20px;
  overflow: hidden;

  input {
    padding:5px 0px;
    margin: 0;
    width: 80%;
    color: #6C49F1;
    font-family: OpenSans;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgba(165, 144, 246, 0.3);
    outline: none;
    @include placeholder {
      font-style: italic;
    }
  }

  i {
    display: inline-block;
    padding-right: 10px;
    width: 20px;
    height: 28px;
    font-size: 20px;
    color: #6C49F1;
    border-bottom: 1px solid rgba(165, 144, 246, 0.3);
  }
}

.login-form {
  min-width: 300px;
}

.register-form {
  min-width: 400px;
}