@font-face {
  font-family: Anton;
  src: url(../fonts/Anton/Anton.ttf);
}

@font-face {
  font-family: ArchivoBlack;
  src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
}

@font-face {
  font-family: Open-Sans-Light;
  src: url(../fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf);
}

@font-face {
  font-family: Open-Sans-Bold;
  src: url(../fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf);
}

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}