@font-face {
  font-family: Anton;
  src: url(../fonts/Anton/Anton.ttf);
}

@font-face {
  font-family: ArchivoBlack;
  src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
}

@font-face {
  font-family: Open-Sans-Light;
  src: url(../fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf);
}

@font-face {
  font-family: Open-Sans-Bold;
  src: url(../fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf)
}

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.popup-container {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 2;
}

.popup {
  position: fixed;
  z-index: 1;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);
}

.login-wrapper {
  display: table;
  width: 100%;
}

.login-view-field {
  input {
    padding: 0;
    margin: 0;
    width: 60%;
    font-family: Open-Sans-Light;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
  }
}