@mixin input {
  padding: 10px;
  width: 100%;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;

  &:focus {
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
  }
}

$shadowColor: 1px 1px 1px rgba(0, 0, 0, 0.8);

.create-dish-container {
  min-height: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  background-image: url(../img/retro-kitchen.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

.create-dish-form {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.create-dish-field {
  margin-bottom: 10px;

  &.left-column {
    float: left;
    width: 70%;
  }

  &.right-column {
    float: right;
    width: 27%;
  }
}

.create-dish-label {
  display: block;
  margin-bottom: 5px;
  color: white;
  text-shadow: $shadowColor;
}

.create-dish-text {
  @include input;
}

.create-dish-textarea {
  height: 150px;
  resize: none;
  @include input;
}

$mb: 40px;

.create-dish-general {
  overflow: hidden;
  margin-bottom: $mb;
}

.create-dish-ingredients {
  margin-left: 100px;
  margin-bottom: $mb;

  >li {
    position: relative;
    overflow: hidden;

    &:hover {
      .create-dish-remove-item {
        transform: scale(1);
      }
    }
  }
}

.create-dish-steps {
  margin-right: 100px;
  margin-bottom: $mb;

  li {
    position: relative;
    overflow: hidden;

    &:hover {
      .create-dish-remove-item {
        transform: scale(1);
      }
    }
  }
}

.create-dish-form {
  h3 {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: white;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    text-shadow: $shadowColor;
    overflow: hidden;

    &:hover,
    &:focus {
      button {
        transform: translate(0, 0);
      }
    }

    button {
      position: absolute;
      right: 0;
      padding: 5px 10px;
      color: white;
      font-size: 16px;
      background-color: #5cb85c;
      border: 1px solid #4cae4c;
      border-radius: 5px;
      transition: all 0.5s;
      transform: translate(100%, 0);
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: #449d44;
        border-color: #398439;
      }
    }
  }

  h4 {
    margin-bottom: 5px;
    color: #FFF;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    text-align: center;
  }
}

.create-dish-remove-item {
  position: absolute;
  right: 0;
  top: 0;
  color: #d43f3a;
  font-size: 20px;
  transform: scale(0);
  transition: transform 0.4s;
}

.create-dish-button {
  display: block;
  margin: 0 auto;
  width: 40%;
  color: #FFF;
  font-size: 20px;
  line-height: 42px;
  letter-spacing: 2px;
  text-align: center;
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    width: 60%;
    background-color: #286090;
    border-color: #204d74;
  }
}

.create-dish-select {
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  &:after {
    content: '';
    position: absolute;
    top: 18px;
    right: 10px;
    border: 7px solid transparent;
    border-top-color: black;
  }

  select {
    width: 100%;
    padding: 10px;
    border: none;
    background: #FFF;
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
  }
}